body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.button-row {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    gap: 15px;
    flex-wrap: wrap; /* Allow wrapping if buttons exceed the container width */
}

button {
    display: block;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4285f4;
    color: #fff;
}

button:hover {
    background-color: #357ae8;
}

.hidden {
    display: none;
}

#searchEngine,
#searchDataElement {
    font-weight: bold;
}

.google-logo {
    width: 20px; /* Adjust the size as needed */
    height: auto;
    margin-right: 5px; /* Adjust the spacing between the logo and text */
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px; /* Adjust the font size as needed */
}

/* Define a CSS class for small square buttons with logos */
.small-square-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #b8b8b8;
    color: #fff;
    box-sizing: border-box;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.small-square-button img {
    width: 80%; /* Adjust the image size as needed */
    height: auto;
    margin: 0; /* Remove default margin for images */
}

.small-square-button:hover {
    background-color: #357ae8;
}

/* Add styling to the search input */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    border-color: #4285f4;
    outline: none;
}
